.logo-background {
    background-color: rgb(31,41,56);
    border-radius: 5px;
    text-align: center;
    width: 48px;
    height: 48px;
    padding-top: 3px;
}

.awesemo-logo {
    width: 40px;
}

.box {
    background-color: rgb(31,41,56);
    color: rgb(247,246,248);
    font-size: 12px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}